<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to da Home Page! YURRRRR</h1>
</div>

<div class="container">
  <% @names.each do |name| %>
    <li><%= link_to name.name %></li>
  <%end %>
</div>